@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500;600&display=swap');

html {
    background-color: #EFAF00;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

:root {
    /* Dark */
    --dark-yellow: #FFBE0B;
    --dark-orange: #FB5607;
    --dark-red: #FF006E;
    --dark-purple: #8338EC;
    --dark-blue: #3A86FF;
    /* Medium */
    --medium-yellow: #FFCB3B;
    --medium-orange: #FC773A;
    --medium-red: #FF338B;
    --medium-purple: #9B5EF0;
    --medium-blue: #609DFF;
        /* Light */
    --light-yellow: #FFD664;
    --light-orange: #FD9362;
    --light-red: #FF5CA3;
    --light-purple: #AE7CF3;
    --light-blue: #81B1FF;
}

.game-boy {
    font-family: 'Poppins';
    font-style: normal;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/* Body
--------------------------------------------- */

.game-boy {
    background-color: #FFBE0B;
    border-radius: 8px 8px 0 0;
    height: 480px;
    margin-top: 50px;
    padding: 20px 18px 0;
    position: relative;
    width: 270px;
}

.game-boy:before {
    background-color: #ff0000;
    border-radius: 55%;
    content: "";
    height: 8px;
    left: 28px;
    position: absolute;
    top: 92px;
    width: 8px;
    z-index: 1;
}

.game-boy:after {
    background-color: #FFBE0B;
    border-radius: 55%;
    bottom: -30px;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.game-boy-screen {
    align-items: flex-end;
    background-color: #283136;
    border-radius: 8px 8px 0 0;
    display: flex;
    height: 222px;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.game-boy-screen:before {
    background-color: #111516;
    content: "";
    height: 160px;
    left: 46px;
    position: absolute;
    top: 26px;
    width: 180px;
}

.game-boy-screen:after {
    background-color: #283136;
    border-radius: 55%;
    bottom: -30px;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.speaker {
    bottom: 0;
    height: 70px;
    position: absolute;
    right: 16px;
    width: 70px;
}

.speaker:before {
    background-color: #FFBE0B;
    border-radius: 50%;
    box-shadow: 0px 0px #EFAF00, 0px 10px #9F7500, 0px 20px #EFAF00, 0px 30px #9F7500, 0px 40px #EFAF00, 0px 50px #9F7500, 0px 60px #FFBE0B, 10px 0px #9F7500, 10px 10px #EFAF00, 10px 20px #9F7500, 10px 30px #EFAF00, 10px 40px #9F7500, 10px 50px #EFAF00, 10px 60px #9F7500, 20px 0px #EFAF00, 20px 10px #9F7500, 20px 20px #EFAF00, 20px 30px #9F7500, 20px 40px #EFAF00, 20px 50px #9F7500, 20px 60px #EFAF00, 30px 0px #9F7500, 30px 10px #EFAF00, 30px 20px #9F7500, 30px 30px #EFAF00, 30px 40px #9F7500, 30px 50px #EFAF00, 30px 60px #9F7500, 40px 0px #EFAF00, 40px 10px #9F7500, 40px 20px #EFAF00, 40px 30px #9F7500, 40px 40px #EFAF00, 40px 50px #9F7500, 40px 60px #EFAF00, 50px 0px #9F7500, 50px 10px #EFAF00, 50px 20px #9F7500, 50px 30px #EFAF00, 50px 40px #9F7500, 50px 50px #EFAF00, 50px 60px #9F7500, 60px 0px #FFBE0B, 60px 10px #9F7500, 60px 20px #EFAF00, 60px 30px #9F7500, 60px 40px #EFAF00, 60px 50px #9F7500, 60px 60px #FFBE0B;
    content: '';
    height: 6px;
    left: 5px;
    position: absolute;
    top: 5px;
    transform: skew(0deg, -12deg);
    width: 6px;
}

/* Typography
--------------------------------------------- */

.game-boy-title {
    color: #95AEB5;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.red-letter {
    color: #DB3575;
}

.purple-letter {
    color: #7F7CC8;
}

.green-letter {
    color: #8DD265;
}

.yellow-letter {
    color: #D6C256;
}

.blue-letter {
    color: #529BB5;
}

.game-boy-brand {
    color: #EFAF00;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    justify-content: center;
    line-height: 1;
    margin: 40px 0 4px;
}

.game-boy-brand-logo {
    border-radius: 36px;
    border: 2px solid #EFAF00;
    padding: 1px 8px;
}

/*--------------------------------------------------------------
# Controls & Buttons
--------------------------------------------------------------*/

.game-boy-controls-primary {
    display: flex;
    justify-content: space-between;
}

.directional-control {
    height: 80px;
    position: relative;
    width: 80px;
}

.directional-control:hover {
    cursor: pointer;
}

.directional-control:hover:before, .directional-control:hover:after {
    background-color: #39464D;
}

.directional-control:active:before, .directional-control:active:after {
    background-color: #4B5C65;
}

.directional-control:before {
    background-color: #283136;
    border-radius: 4px;
    content: "";
    height: 28px;
    left: 0;
    position: absolute;
    top: 26px;
    transition: background-color 200ms;
    width: 80px;
}

.directional-control:after {
    background-color: #283136;
    border-radius: 4px;
    content: "";
    height: 80px;
    left: 26px;
    position: absolute;
    top: 0;
    transition: background-color 200ms;
    width: 28px;
}

.b-a-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.b-button, .a-button {
    background-color: #283136;
    border-radius: 38px;
    border: none;
    height: 38px;
    position: relative;
    transition: background-color 200ms;
    width: 38px;
}

.b-button:hover, .a-button:hover {
    background-color: #39464D;
    cursor: pointer;
}

.b-button:active, .a-button:active {
    background-color: #4B5C65;
}

.b-button {
    top: 10px;
}

.a-button {
    top: -10px;
}

.game-boy-controls-secondary {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.select-start-buttons {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.select-button, .start-button {
    background-color: #283136;
    border-radius: 50%;
    border: none;
    height: 14px;
    transition: background-color 200ms;
    width: 32px;
}

.select-button:hover, .start-button:hover {
    background-color: #39464D;
    cursor: pointer;
}

.select-button:active, .start-button:active {
    background-color: #4B5C65;
}